
	.square-thumb {
	    width: 23px;
	    height: 23px;
	    margin: 0px;
	}
	.square-thumb2 {
	    width: 130px;
	    height: 130px;
	    margin: 0px;
	}
	.square-thumb3 {
	    width: 130px;
	    height: 130px;
	    margin: 0px;
	}
	.square-thumb4 {
	    width: 130px;
	    height: 130px;
	    margin: 0px;
	}
	.square-thumb5 {
	    width: 130px;
	    height: 130px;
	    margin: 0px;
	}
	.square-thumb6 {
	    width: 130px;
	    height: 130px;
	    margin: 0px;
	}
	.square-thumb7 {
	    width: 130px;
	    height: 130px;
	    margin: 0px;
	}